<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-focus-edit" th:object="${focus}">
            <input id="focusId" name="focusId" th:field="*{focusId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">身份证号：</label>
				<div class="col-sm-8">
					<input id="focusCard" name="focusCard" th:field="*{focusCard}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">原因序号：</label>
				<div class="col-sm-8">
					<select id="freasonId" name="freasonId" class="form-control">
						<option th:each="freason:${freasonList}" th:value="${freason.freasonId}" th:text="${freason.freasonName}" th:field="*{freasonId}"></option>
					</select>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/focus"
		$("#form-focus-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-focus-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
