<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								人员名称：<input type="text" name="gasman.gasmanName"/>
							</li>

							<li>
								身份证号：<input type="text" name="focusCard"/>
							</li>

							<li>
								所属加油站：<input type="text" name="gasman.gasId"/>
							</li>

							<li>
								原因：<input type="text" name="freasonName.freasonName"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:focus:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:focus:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:focus:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:focus:remove')}]];
        var prefix = ctx + "system/focus";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
				exportUrl: prefix + "/export",
                modalName: "重点观察",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'focusId', 
					title : '重点观察序号',
					visible: false
				},
				{
					field : 'gasman.gasmanName',
					title : '人员名称',
					sortable: false
				},
				{
					field : 'focusCard', 
					title : '身份证号',
					sortable: false
				},
				{
					field : 'gasman.gasName.gasName',
					title : '所属加油站',
					sortable: false
				},
				{
					field : 'freasonName.freasonName',
					title : '观察原因',
					sortable: false
				},
		 ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>