<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								加油站名称：<input type="text" name="gasName"/>
							</li>

							<li>
								详细地址：<input type="text" name="gasAddress"/>
							</li>

							<li>
								所属派出所：<input type="text" name="lpoliceName.lpoliceName"/>
							</li>

							<li>
								员工数量：<input type="text" name="staffNumber"/>
							</li>

							<li>
								加油机数量：<input type="text" name="machineNumber"/>
							</li>

							<li>
								性质：<input type="text" name="gastypeName.gastypeName"/>
							</li>

							<li>
								法人姓名：<input type="text" name="principalName"/>
							</li>

							<li>
								法人身份证号：<input type="text" name="principalCard"/>
							</li>

							<li>
								法人电话：<input type="text" name="principalPhone"/>
							</li>

							<li>
								状态：<input type="text" name="gasstatusName.gasstatusName"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:gas:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:gas:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:gas:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:gas:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:gas:remove')}]];
		var gasmanFlag = [[${@permission.hasPermi('system:gas:gasman')}]];
		var oilFlag = [[${@permission.hasPermi('system:gas:oil')}]];
        var prefix = ctx + "system/gas";

        $(function() {
            var options = {
                url: prefix + "/list",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
				gasmanUrl: prefix + "/gasman",
				oilUrl: prefix + "/oil",
                modalName: "加油站",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'gasId', 
					title : '加油站序号',
					visible: false
				},
				{
					field : 'gasName', 
					title : '加油站名称',
					sortable: true
				},
				{
					field : 'gasAddress', 
					title : '详细地址',
					sortable: true
				},
				{
					field : 'staffNumber', 
					title : '员工数量',
					sortable: true
				},
				{
					field : 'machineNumber', 
					title : '加油机数量',
					sortable: true
				},
				{
					field : 'gastypeName.gastypeName',
					title : '性质',
					sortable: true
				},
				{
					field : 'principalName', 
					title : '法人姓名',
					sortable: true
				},
				{
					field : 'principalCard', 
					title : '法人身份证号',
					sortable: true
				},
				{
					field : 'principalPhone', 
					title : '法人电话',
					sortable: true
				},
				{
					field : 'gasstatusName.gasstatusName',
					title : '状态',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.gasId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.gasId + '\')"><i class="fa fa-remove"></i>删除</a>');
						actions.push('<a class="btn btn-primary btn-xs ' + gasmanFlag + '" href="#" onclick="$.operate.gasman(\'' + row.gasId + '\')"><i class="fa fa-edit"></i>员工管理</a>');
						actions.push('<a class="btn btn-info btn-xs ' + oilFlag + '" href="#" onclick="$.operate.oil(\'' + row.gasId + '\')"><i class="fa fa-edit"></i>散装油管理</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>