<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								姓名：<input type="text" name="gasmanName"/>
							</li>
							<li>
								身份证号：<input type="text" name="gasmanCard"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:gasman:export">
					<i class="fa fa-download"></i> 导出
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<input th:value="${gasid}" style="display: none" id="thisgasid">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
		var prefix = ctx + "system/gasman";
        $(function() {
            var options = {
                url: ctx + "system/gas/gasman/list/"+$("#thisgasid").val(),
				exportUrl: prefix + "/export",
                modalName: "加油站员工",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'gasmanId', 
					title : '加油站员工序号',
					visible: false
				},
				{
					field : 'gasmanName', 
					title : '姓名',
					sortable: true
				},
				{
					field : 'genderName',
					title : '性别',
					sortable: true
				},
				{
					field : 'gasmanCard', 
					title : '身份证号',
					sortable: true
				},
				{
					field : 'gasmanBirthday', 
					title : '出生日期',
					sortable: true
				},
				{
					field : 'gasmanEthnic', 
					title : '民族',
					sortable: true
				},
				{
					field : 'birthareaName.areaName',
					title : '户籍所属县区',
					sortable: true
				},
				{
					field : 'gasmanBirthplace', 
					title : '户籍地详址',
					sortable: true
				},
				{
					field : 'homeareaName.areaName',
					title : '现居住地所属县区',
					sortable: true
				},
				{
					field : 'gasmanPhone', 
					title : '联系方式',
					sortable: true
				}]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>