<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.system.freason.mapper.FreasonMapper">
    
    <resultMap type="Freason" id="FreasonResult">
        <result property="freasonId"    column="freason_id"    />
        <result property="freasonName"    column="freason_name"    />
    </resultMap>
	
	<sql id="selectFreasonVo">
        select freason_id, freason_name from jyz_freason
    </sql>
	
    <select id="selectFreasonList" parameterType="Freason" resultMap="FreasonResult">
        <include refid="selectFreasonVo"/>
        <where>  
            <if test="freasonId != null "> and freason_id = #{freasonId}</if>
             <if test="freasonName != null  and freasonName != '' "> and freason_name = #{freasonName}</if>
         </where>
    </select>
    
    <select id="selectFreasonById" parameterType="Integer" resultMap="FreasonResult">
        <include refid="selectFreasonVo"/>
        where freason_id = #{freasonId}
    </select>
        
    <insert id="insertFreason" parameterType="Freason">
        insert into jyz_freason
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="freasonId != null  ">freason_id,</if>
			<if test="freasonName != null  and freasonName != ''  ">freason_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="freasonId != null  ">#{freasonId},</if>
			<if test="freasonName != null  and freasonName != ''  ">#{freasonName},</if>
         </trim>
    </insert>
	 
    <update id="updateFreason" parameterType="Freason">
        update jyz_freason
        <trim prefix="SET" suffixOverrides=",">
            <if test="freasonName != null  and freasonName != ''  ">freason_name = #{freasonName},</if>
        </trim>
        where freason_id = #{freasonId}
    </update>

	<delete id="deleteFreasonById" parameterType="Integer">
        delete from jyz_freason where freason_id = #{freasonId}
    </delete>
	
    <delete id="deleteFreasonByIds" parameterType="String">
        delete from jyz_freason where freason_id in 
        <foreach item="freasonId" collection="array" open="(" separator="," close=")">
            #{freasonId}
        </foreach>
    </delete>
    
</mapper>