<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.system.policeman.mapper.PolicemanMapper">
    
    <resultMap type="Policeman" id="PolicemanResult">
        <result property="policemanId"    column="policeman_id"    />
        <result property="lpoliceId"    column="lpolice_id"    />
        <result property="policemanName"    column="policeman_name"    />
        <result property="policemanAge"    column="policeman_age"    />
        <result property="policemanPost"    column="policeman_post"    />
        <result property="policemanCard"    column="policeman_card"    />
        <result property="policemanPhone"    column="policeman_phone"    />
        <result property="policemanPassword"    column="policeman_password"    />
        <association property="lpoliceName" column="lpolice_id" select="com.aaa.project.system.lpolice.mapper.LpoliceMapper.selectLpoliceById"></association>
    </resultMap>

    <resultMap type="Policeman" id="PolicemanAndJYZResult">
        <result property="policemanId"    column="policeman_id"    />
        <result property="lpoliceId"    column="lpolice_id"    />
        <result property="policemanName"    column="policeman_name"    />
        <result property="policemanAge"    column="policeman_age"    />
        <result property="policemanPost"    column="policeman_post"    />
        <result property="policemanCard"    column="policeman_card"    />
        <result property="policemanPhone"    column="policeman_phone"    />
        <result property="policemanPassword"    column="policeman_password"    />
        <collection property="gas" ofType="com.aaa.project.system.gas.domain.Gas">
            <id property="gasId" column="gas_id"/>
            <id property="gasName" column="gas_name"/>
            <id property="gasAddress" column="gas_address"/>
            <id property="gasLongitude" column="gas_longitude"/>
            <id property="gasLatitude" column="gas_latitude"/>
            <id property="missionId" column="mission_id"></id>
            <association property="gastypeName" column="gas_type" select="com.aaa.project.system.gastype.mapper.GastypeMapper.selectGastypeById"></association>

        </collection>
    </resultMap>
	<sql id="selectPolicemanVo">
        select policeman_id, lpolice_id, policeman_name, policeman_age, policeman_post, policeman_card, policeman_phone, policeman_password from jyz_policeman
    </sql>
    <sql id="selectPolicemanJYZ">
        select mission_id,gas_type,policeman_id, jyz_policeman.lpolice_id, policeman_name, policeman_age, policeman_post, policeman_card, policeman_phone, policeman_password,jyz_gas.gas_id,gas_name,gas_address,gas_longitude,gas_latitude
        FROM jyz_gas,jyz_policeman,jyz_zmission,jyz_gastype
</sql>
    <sql id="HselectPolicemanJYZ">
        select gas_type,policeman_id, jyz_policeman.lpolice_id, policeman_name, policeman_age, policeman_post, policeman_card, policeman_phone, policeman_password,jyz_gas.gas_id,gas_name,gas_address,gas_longitude,gas_latitude
        FROM jyz_fmission,jyz_zmission,jyz_policeman,jyz_gas,jyz_gastype
    </sql>
	
    <select id="selectPolicemanList" parameterType="Policeman" resultMap="PolicemanResult">
        <include refid="selectPolicemanVo"/>
        <where>  
            <if test="policemanId != null "> and policeman_id = #{policemanId}</if>
             <if test="lpoliceId != null "> and lpolice_id = #{lpoliceId}</if>
             <if test="policemanName != null  and policemanName != '' "> and policeman_name = #{policemanName}</if>
             <if test="policemanAge != null "> and policeman_age = #{policemanAge}</if>
             <if test="policemanPost != null  and policemanPost != '' "> and policeman_post = #{policemanPost}</if>
             <if test="policemanCard != null  and policemanCard != '' "> and policeman_card = #{policemanCard}</if>
             <if test="policemanPhone != null  and policemanPhone != '' "> and policeman_phone = #{policemanPhone}</if>
             <if test="policemanPassword != null  and policemanPassword != '' "> and policeman_password = #{policemanPassword}</if>
         </where>
    </select>
    
    <select id="selectJYZByPolicemanId" parameterType="Integer" resultMap="PolicemanAndJYZResult">
        <include refid="selectPolicemanJYZ"/>
        where policeman_id = #{policemanId} and jyz_zmission.gas_id=jyz_gas.gas_id and
        jyz_policeman.policeman_id = jyz_zmission.police_manid and jyz_zmission.mission_left>0
    </select>

    <select id="selectPolicemanById" parameterType="Integer" resultMap="PolicemanResult">
        <include refid="selectPolicemanVo"/>
        where policeman_id = #{policemanId}
    </select>
    <select id="selectPolicemanJYZById"  resultMap="PolicemanAndJYZResult">
        <include refid="HselectPolicemanJYZ"/>
        WHERE jyz_fmission.zmission_id=jyz_zmission.mission_id AND jyz_policeman.policeman_id=jyz_zmission.police_manid AND jyz_policeman.policeman_id=2
        AND jyz_gas.gas_id=jyz_zmission.gas_id AND jyz_gas.gas_type=jyz_gastype.gastype_id and policeman_id = #{policemanId} and jyz_zmission.gas_id=jyz_gas.gas_id AND
        jyz_policeman.policeman_id = jyz_zmission.police_manid
        AND jyz_gas.gas_address=#{address} AND jyz_fmission.fmission_commit=#{committime}

    </select>
    <select id="selectByLogin" parameterType="Policeman" resultMap="PolicemanResult">
        <include refid="selectPolicemanVo"/>
        where policeman_phone = #{policemanPhone} and policeman_password=#{policemanPassword}
    </select>
    <insert id="insertPoliceman" useGeneratedKeys="true" keyProperty="policemanId" parameterType="Policeman">
        insert into jyz_policeman
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="policemanId != null  ">policeman_id,</if>
			<if test="lpoliceId != null  ">lpolice_id,</if>
			<if test="policemanName != null  and policemanName != ''  ">policeman_name,</if>
			<if test="policemanAge != null  ">policeman_age,</if>
			<if test="policemanPost != null  and policemanPost != ''  ">policeman_post,</if>
			<if test="policemanCard != null  and policemanCard != ''  ">policeman_card,</if>
			<if test="policemanPhone != null  and policemanPhone != ''  ">policeman_phone,</if>
			<if test="policemanPassword != null  and policemanPassword != ''  ">policeman_password,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="policemanId != null  ">#{policemanId},</if>
			<if test="lpoliceId != null  ">#{lpoliceId},</if>
			<if test="policemanName != null  and policemanName != ''  ">#{policemanName},</if>
			<if test="policemanAge != null  ">#{policemanAge},</if>
			<if test="policemanPost != null  and policemanPost != ''  ">#{policemanPost},</if>
			<if test="policemanCard != null  and policemanCard != ''  ">#{policemanCard},</if>
			<if test="policemanPhone != null  and policemanPhone != ''  ">#{policemanPhone},</if>
			<if test="policemanPassword != null  and policemanPassword != ''  ">#{policemanPassword},</if>
         </trim>
    </insert>
	 
    <update id="updatePoliceman" parameterType="Policeman">
        update jyz_policeman
        <trim prefix="SET" suffixOverrides=",">
            <if test="lpoliceId != null  ">lpolice_id = #{lpoliceId},</if>
            <if test="policemanName != null  and policemanName != ''  ">policeman_name = #{policemanName},</if>
            <if test="policemanAge != null  ">policeman_age = #{policemanAge},</if>
            <if test="policemanPost != null  and policemanPost != ''  ">policeman_post = #{policemanPost},</if>
            <if test="policemanCard != null  and policemanCard != ''  ">policeman_card = #{policemanCard},</if>
            <if test="policemanPhone != null  and policemanPhone != ''  ">policeman_phone = #{policemanPhone},</if>
            <if test="policemanPassword != null  and policemanPassword != ''  ">policeman_password = #{policemanPassword},</if>
        </trim>
        where policeman_id = #{policemanId}
    </update>

	<delete id="deletePolicemanById" parameterType="Integer">
        delete from jyz_policeman where policeman_id = #{policemanId}
    </delete>
	
    <delete id="deletePolicemanByIds" parameterType="String">
        delete from jyz_policeman where policeman_id in 
        <foreach item="policemanId" collection="array" open="(" separator="," close=")">
            #{policemanId}
        </foreach>
    </delete>
    
</mapper>