<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.project.system.projectkind.mapper.ProjectkindMapper">
    
    <resultMap type="Projectkind" id="ProjectkindResult">
        <result property="projectKindid"    column="project_kindid"    />
        <result property="projectKind"    column="project_kind"    />
    </resultMap>
	
	<sql id="selectProjectkindVo">
        select project_kindid, project_kind from jyz_projectkind
    </sql>
	
    <select id="selectProjectkindList" parameterType="Projectkind" resultMap="ProjectkindResult">
        <include refid="selectProjectkindVo"/>
        <where>  
            <if test="projectKindid != null "> and project_kindid = #{projectKindid}</if>
             <if test="projectKind != null  and projectKind != '' "> and project_kind = #{projectKind}</if>
         </where>
    </select>
    
    <select id="selectProjectkindById" parameterType="Integer" resultMap="ProjectkindResult">
        <include refid="selectProjectkindVo"/>
        where project_kindid = #{projectKindid}
    </select>
        
    <insert id="insertProjectkind" parameterType="Projectkind">
        insert into jyz_projectkind
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="projectKindid != null  ">project_kindid,</if>
			<if test="projectKind != null  and projectKind != ''  ">project_kind,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="projectKindid != null  ">#{projectKindid},</if>
			<if test="projectKind != null  and projectKind != ''  ">#{projectKind},</if>
         </trim>
    </insert>
	 
    <update id="updateProjectkind" parameterType="Projectkind">
        update jyz_projectkind
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectKind != null  and projectKind != ''  ">project_kind = #{projectKind},</if>
        </trim>
        where project_kindid = #{projectKindid}
    </update>

	<delete id="deleteProjectkindById" parameterType="Integer">
        delete from jyz_projectkind where project_kindid = #{projectKindid}
    </delete>
	
    <delete id="deleteProjectkindByIds" parameterType="String">
        delete from jyz_projectkind where project_kindid in 
        <foreach item="projectKindid" collection="array" open="(" separator="," close=")">
            #{projectKindid}
        </foreach>
    </delete>
    
</mapper>