<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
		var failFlag = [[${@permission.hasPermi('system:rectification:fail')}]];
        var prefix = ctx + "system/gasmanager";

        $(function() {
            var options = {
                url: prefix + "/list",
				failUrl: ctx + "system/rectification/fail",
                modalName: "加油站",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'gasId', 
					title : '加油站序号',
					visible: false
				},
				{
					field : 'gasName', 
					title : '加油站名称',
					sortable: false
				},
				{
					field : 'gasAddress', 
					title : '详细地址',
					sortable: false
				},
				{
					field : 'lpoliceName.lpoliceName',
					title : '所属派出所',
					sortable: false
				},
				{
					field : 'staffNumber', 
					title : '员工数量',
					sortable: false
				},
				{
					field : 'machineNumber', 
					title : '加油机数量',
					sortable: false
				},
				{
					field : 'gastypeName.gastypeName',
					title : '性质',
					sortable: false
				},
				{
					field : 'principalName', 
					title : '法人姓名',
					sortable: false
				},
				{
					field : 'principalCard', 
					title : '法人身份证号',
					sortable: false
				},
				{
					field : 'principalPhone', 
					title : '法人电话',
					sortable: false
				},
				{
					field : 'principalUsername', 
					title : '登录账号',
					sortable: false
				},
				{
					field : 'gasstatusName.gasstatusName',
					title : '状态',
					sortable: false
				},
				{
					title: '操作',
					align: 'center',
					formatter: function(value, row, index) {
						var actions = [];
						if (row.gasstatusId == 2)
							actions.push('<a class="btn btn-info btn-xs ' + failFlag + '" href="#" onclick="$.operate.gasfail(\'' + row.gasId + '\')"><i class="fa fa-edit"></i>查看整改</a>');
						return actions.join('');
					}
				}]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>