<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-rectification-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">加油站：</label>
				<div class="col-sm-8">
					<select id="gasId" name="gasId" class="form-control">
						<option th:each="gas:${gasList}" th:value="${gas.gasId}" th:text="${gas.gasName}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">任务记录序号：</label>
				<div class="col-sm-8">
					<input id="fmissionId" name="fmissionId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">更改描述：</label>
				<div class="col-sm-8">
					<input id="rectificationDes" name="rectificationDes" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">整改负责人：</label>
				<div class="col-sm-8">
					<select id="rectificationPolicemanid" name="rectificationPolicemanid" class="form-control">
						<option th:each="policeman:${policemanList}" th:value="${policeman.policemanId}" th:text="${policeman.policemanName}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<select id="rectificationState" name="rectificationState" class="form-control">
						<option th:each="status:${gasstatusList}" th:value="${status.gasstatusId}" th:text="${status.gasstatusName}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">整改时间：</label>
				<div class="col-sm-8">
					<input id="rectificationTime" name="rectificationTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">整改开始时间：</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input id="rectificationBegin" name="rectificationBegin" class="form-control" type="text">
					</div>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
	<script th:src="@{/ajax/libs//datapicker/bootstrap-datepicker.js}"></script>
    <script type="text/javascript">
		var prefix = ctx + "system/rectification"
		$("#form-rectification-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		var date = new Date();
		$(".input-group.date").datepicker({
			todayBtn: "linked",
			keyboardNavigation: !1,
			endDate: date,
			forceParse: !1,
			calendarWeeks: !0,
			autoclose: !0
		});
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-rectification-add').serialize());
	        }
	    }
	</script>
</body>
</html>
