<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>豆豆介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">

       <div id="main" style="width: 400px; height: 400px;float:left"></div>
       <div id="main2" style="width: 600px; height: 400px;float:left"></div>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
       <script type="text/javascript">
           var myChart = echarts.init(document.getElementById('main'));
           var myChart2 = echarts.init(document.getElementById('main2'));

           // $.get('${pageContext.request.contextPath }/order/orderaccordion').done(
           //     function(data) {
           //         var textArray = new Array();//名称数组
           //         var valueArray = new Array();//数值数组
           //         //遍历menu对象，填充数组
           //         $.each(data, function(i, n) {
           //             textArray.push(n.msgname)
           //             valueArray.push(n.num)
           //         })

                   myChart.setOption({
                       color: ['#3398DB'],
                       tooltip : {
                           trigger: 'axis',
                           axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                               type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                           }
                       },
                       grid: {
                           left: '3%',
                           right: '4%',
                           bottom: '3%',
                           containLabel: true
                       },
                       xAxis : [
                           {
                               type : 'category',
                               data : ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                               axisTick: {
                                   alignWithLabel: true
                               }
                           }
                       ],
                       yAxis : [
                           {
                               type : 'value'
                           }
                       ],
                       series : [
                           {
                               name:'直接访问',
                               type:'bar',
                               barWidth: '60%',
                               data:[10, 52, 200, 334, 390, 330, 220]
                           }
                       ]
                   });
              // });

           // $.get('${pageContext.request.contextPath }/order/orderaccordion2').done(
           //     function(data) {
           //         var goodsArray = new Array();//名称数组
           //         var valueArray1 = new Array();//阈值数组
           //         var valueArray2 = new Array();//库存数组
           //         //遍历menu对象，填充数组
           //         $.each(data, function(i, n) {
           //             goodsArray.push(n.goodsname);
           //             valueArray1.push(n.threshold);
           //             valueArray2.push(n.quantity);
           //         })

                   // myChart2.setOption({
                   //     title : {
                   //         text: '需要购买的货物',
                   //
                   //     },
                   //     tooltip : {
                   //         trigger: 'axis'
                   //     },
                   //     legend: {
                   //         data:['仓库数量','阈值']
                   //     },
                   //
                   //     calculable : true,
                   //     xAxis : [
                   //         {
                   //             type : 'category',
                   //             data : goodsArray,
                   //         }
                   //     ],
                   //     yAxis : [
                   //         {
                   //             type : 'value'
                   //         }
                   //     ],
                   //     series : [
                   //
                   //         {
                   //             name:'仓库数量',
                   //             type:'bar',
                   //             data:valueArray2,
                   //             itemStyle: {
                   //                 normal: {
                   //                     color: function(params) {
                   //                         var colorList = [
                   //                             '#98F5FF'
                   //                         ];
                   //                         return colorList[params.dataIndex]
                   //                     },
                   //
                   //                 }
                   //             },
                   //
                   //         },
                   //         {
                   //             name:'阈值',
                   //             type:'bar',
                   //             data:valueArray1,
                   //             itemStyle: {
                   //                 normal: {
                   //                     color: function(params) {
                   //                         var colorList = [
                   //                             '#AB82FF'
                   //                         ];
                   //                         return colorList[params.dataIndex]
                   //                     },
                   //
                   //                 }
                   //             },
                   //
                   //         }
                   //     ]
                   // });
              // });
       </script>
</body>
</html>
