<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								总任务序号：<input type="text" name="zmissionId"/>
							</li>

							<li>
								提交时间：<input type="text" name="fmissionCommit"/>
							</li>

							<li>
								分数：<input type="text" name="point"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:fmission:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
		var detailFlag = [[${@permission.hasPermi('system:fmission:detail')}]];
		var noticeFlag = [[${@permission.hasPermi('system:fmission:notice')}]];
		var agreeFlag = [[${@permission.hasPermi('system:fmission:agree')}]];
        var prefix = ctx + "system/fmission";

        $(function() {
            var options = {
                url: prefix + "/list",
				exportUrl: prefix + "/export",
				detailUrl: prefix + "/detail",
				noticeUrl: prefix + "/notice/{id}",
				agreeUrl: prefix + "/agree",
                modalName: "分任务记录",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'fmissionId', 
					title : '任务记录序号',
					visible: true
				},
				{
					field : 'zmissiongasName.gasName.gasName',
					title : '总任务对应加油站',
					sortable: true
				},
				{
					field : 'fmissionCommit', 
					title : '提交时间',
					sortable: true
				},
				{
					field : 'missionstateName.missionStatename',
					title : '任务审核状态',
					sortable: true
				},
				{
					field : 'point', 
					title : '分数',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
						actions.push('<a class="btn btn-primary btn-xs ' + detailFlag + '" href="#" onclick="$.operate.fmissiondetail(\'' + row.fmissionId + '\')"><i class="fa fa-edit"></i>查看详情</a>');
						if (row.fmissionState == 1) 
						actions.push('<a class="btn btn-info btn-xs ' + agreeFlag + '" href="#" onclick="$.operate.fmissionagree(\'' + row.fmissionId + '\')"><i class="fa fa-edit"></i>确认审核</a>');
						if (row.point < 60 && row.fmissionState == 1)
						actions.push('<a class="btn btn-warning btn-xs ' + noticeFlag + '" href="#" onclick="$.operate.fmissionnotice(\'' + row.fmissionId + '\')"><i class="fa fa-edit"></i>发送整改</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>